* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;

    --text-color: #1890ff;
    --bg-color: #bae7ff;
    --active-color: #096dd9;
    --hover-text-color: #0050b3;
    --hover-bg-color: #91d5ff;
    --input-border-color: #69c0ff;
    --input-border-focus-color: var(--text-color);
    --input-hover-bg-color: var(--bg-color);

    --el-text-color-primary: var(--text-color);
    --el-text-color-secondary: var(--text-color);
    --el-text-color-regular: var(--text-color);
}

:root, body, #app {
    height: 100%;
}

:root{
    /*fullscreen*/
    background: url("public/ocean.gif") no-repeat center center fixed;
    background-size: cover;
}

/* 全局设置 element ui dialog水平垂直居中 */
.el-dialog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
}

.el-avatar{
    --el-text-color-disabled: #b5f5ec;
}

.el-input {
    --el-input-hover-text-color: var(--text-color);
    --el-input-border-radius: 30px;
    --el-input-border-color: var(--input-border-color);
    --el-input-hover-border-color: var(--input-border-focus-color);
    --el-input-focus-border-color: var(--input-border-focus-color);
}

.el-menu {
    --el-menu-bg-color: transparent;
    --el-menu-text-color: var(--text-color);
    --el-menu-active-color: var(--active-color);
    --el-menu-hover-text-color: var(--hover-text-color);
    --el-menu-hover-bg-color: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.input-light {
    --el-input-bg-color: var(--bg-color);
    --el-input-border-color: var(--input-border-color);
    --el-input-focus-border-color: var(--input-border-color);
}