<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
                    个人信息填写,,,,,,,address
<form method="post" action="/apiregister">
    <label style="color: red" th:text="${msg}"></label><br>
    <input type="text" placeholder="username" name="username" id="username" >
    <input type="text" placeholder="sex" name="sex" id="sex" >
    <input type="text" placeholder="phone" name="phone" id="phone" >
    <input type="text" placeholder="height" name="height" id="height" >
    <input type="text" placeholder="skills" name="skills" id="skills" >
    <input type="text" placeholder="education" name="school" id="school" >
    <input type="text" placeholder="user register" name="email" id="email1" >
    <input type="text" placeholder="user register" name="email" id="email1" >
    <input type="submit" value="register">
</form>
</body>
</html>